<p>
  <mat-toolbar color="primary">
    <span>Aplikasi Buku Alamat</span>
    <span class="spacer"></span>
    <button mat-button (click)="buatAlamat()">Tambah Alamat</button>
  </mat-toolbar>
</p>

<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Daftar Alamat</mat-card-title>
    </mat-card-header>
    <p></p>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-list>
        <mat-card>
          <mat-card-header>
            <mat-card-title>Nama Lengkap</mat-card-title>
            <mat-card-subtitle>email</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button mat-button [matMenuTriggerFor]="menu">pengaturan</button>
          </mat-card-actions>
          <mat-menu #menu="matMenu">             
            <button mat-menu-item  (click)="detailAlamat()">Detail</button>             
            <button mat-menu-item>Edit</button>             
            <button mat-menu-item (click)="konfirmasiHapus()">Delete</button>           
          </mat-menu>  
        </mat-card>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>